<!-- Khai báo sử dụng layout store -->
@{ 
    Layout = "_StoreLayout";
}

<!-- Khai báo định nghĩa phần main-container trong layout store-->
<!-- Main Content Begin -->
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h4>Kết Quả Tìm Kiếm "<em style="color: #f08632;">@ViewData["key_word"]</em>"</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <span>Tìm Kiếm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                @if (Model != null)
                {
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                     data-setbg="/images/product/@product.product_image"
                                     style="background-image: url('/images/product/@product.product_image')">
                                    <div class="product__label">
                                        <span>@product.category_name</span>
                                    </div>
                                </div>
                                <div class="product__item__text">
                                    <h6>
                                        <a href="/shop/product/@product.product_id">@product.product_name</a>
                                    </h6>
                                    <div class="product__item__price">@(Convert.ToDecimal(product.product_price).ToString("#,##0"))</div>
                                    <div class="cart_add">
                                        <a href="/store/addproductcart/@product.product_id">Thêm Giỏ Hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <strong><em>Không tìm thấy sản phẩm.</em></strong>
                }
            </div>
            <div class="shop__last__option">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    </div>
                </div>
            </div>

        </div>

    </section>
        <!-- Shop Section End -->
    <!-- Main Content End -->